*{
    padding: 0;
    margin: 0;
    border: 0;
}

/* Common Style */
.container{
    width: 75vw;
    margin: 0 auto;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col-2 {
    width: 50%;
}
/* Header Section Style */
header{
    background-color: #E55473;
    padding: 10px 0;
}
/* header menu style */
.menu nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
.menu nav ul li{
    margin-left: 50px;
}
.menu nav ul li a{
    text-decoration: none;
    font-size: 24px;
    color: white;
}
img.logo-img {
    width: 80px;
}
/* Intro Section Style */
.intro-section{
    background: rgba(229, 84, 115, 0.20);
    height: 658px;
}
/* Intro Section Details */
h1.intro-title {
    color: #272727;
    font-size: 48px;
    font-weight: 400;
    font-family: 'Lobster', cursive;
}
p.intro-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 24px;
    line-height: 40px;
    padding: 18px 0;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    /* font-family: 'Lobster', cursive; */
}

button.intro-btn {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: none;
    color: white;
    font-size: 20px;
    line-height: 20px;
}


/* Intro Media Style */
img.intro-media-img {
    height: inherit;
}
.img {
    width: 100%;
    height: 658px;
    display: flex;
    justify-content: flex-end;
}

/* Featured Flowers Section style */
.featured-section{
    width: 100vw;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-1{
    width: 100%;
}
.fs-ct-info-title{
    text-align: center;
    color: #272727;
    font-size: 48px;
    font-weight: 400;
    font-family: 'Lobster', cursive;
}
.fs-ct-info-description{
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 28px;
    padding: 18px 0;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
}
/* Featured Flowers Section Media Information Style */
.col-3{
    width: 32%;
}
.fs-ct-media-1, .fs-ct-media-2, .fs-ct-media-3{
    width: 100%;
    height: 420px;
    border-radius: 300px 300px 0px 0px;
}
.fs-ct-media-1{
    background: rgba(167, 33, 98, 0.15);
}
.fs-ct-media-2{
    background: rgba(5, 151, 160, 0.15);
}
.fs-ct-media-3{
    background: rgba(71, 125, 17, 0.15);
}
.fs-ct-media-1-img, .fs-ct-media-2-img, .fs-ct-media-3-img{
    width:70%;
}
.fs-ct-media-1, .fs-ct-media-2, .fs-ct-media-3 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.fs-ct-media-2-img{
    margin-bottom: 50px;
}
.fs-ct-media-lnk a{
    color: #272727;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 20px;
    line-height: 35px;
}
.fs-ct-media-lnk {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

/* Service Section Style */
.service-section{
    padding: 50px 0;
}
.service-box {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}
.container.service-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}
.service-img{
    width: 70px;
    height: 70px;
    margin: 0 auto;
}
.service-description{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 60px;
}
/* Hot deal section style */
.hot-deal-section{
    background: rgba(229, 84, 115, 0.05);
    padding: 100px 0;
}
/* hot deal details */
h1.hot-deal-title {
    color: #272727;
    font-size: 38px;
    font-weight: 400;
    font-family: 'Lobster', cursive;
    text-align: center;
}
p.hot-deal-description {
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 28px;
    padding: 18px 0;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* hot deal img */
.hot-deal-col-r{
    display: flex;
    justify-content: center;
    align-items: center;
}
img.hot-deal-img {
    width: 250px;
}

/* Instagram section */
.instagram-section{
    padding: 80px 0;
}

.col-4 {
    width: 24%;
}
.ins-img {
    width: 100% !important;
}
img.intagram-img {
    width: inherit;
}
p.fs-ct-info-description.inst-des {
    padding: 25px 0 40px 0 !important;
}

/* Get The Latest Deals style */
.submit{
    border-radius: 8px;
    background: #E55473;
    padding: 15px 35px;
    border: none;
    color: white;
    font-size: 20px;
    line-height: 20px;
    margin-left: 16px;
}
input#email {
    border-radius: 8px;
    background: #FFF;
    width: 520px;
    height: 10px;
    padding: 22px;
}
.deals-section{
    padding: 0 0 50px 0;
}
.subscribe-form {
    display: flex;
    justify-content: center;
}
.deals-section-container{
    background-image: url(./media/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
}

/* Footer Section style */
.footer-section{
    background: #111010;
    padding: 60px 0;
}
.foot-description{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 12px;
}
.copyright-disclaimer{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
}